<div class="clearfix">
  <div class="profile">
    <div class="profile_left">
      <h1 class="user_name">ユーザー名</h1>
      <h2 class="profile_text">プロフィール。ユーザーの使用する機器や好きな音楽のジャンルなどを記入・編集することができます。</h2>
    </div>
    <div class="profile_right">
      <div class="edit">
        <a href="#">編集</a>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
  <div class="profile">
    <div class="profile_left">
      <h1 class="user_name">機種名</h1>
      <h2 class="profile_text">レビュー。ユーザーが利用する機種について、レビューを書くことができます。</h2>
    </div>
    <div class="profile_right">
      <div class="edit">
        <a href="#">編集</a>
      </div>
    </div>
  </div>
</div>

