  <html>
    <head>
      <meta charset="UTF-8">
      <title>AudioFan</title>
      <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <div class="photo">
        <img src="images/hd800.jpg" alt="top_photo">
      </div>

      <div class="article">
        <a href="要記入">
          <div class="article_inner">
            <div class="article_inner_left">
              <img src=要記入>
            </div>
            <div class="article_inner_right">
              <time class="article_time" datetime="投稿日時">投稿日時</time>
            </div>
            <h2 class="article_title">記事タイトル</h2>
          </div>
        </a>
      </div>

      <div class="article">
        <a href="要記入">
          <div class="article_inner">
            <div class="article_inner_left">
              <img src=要記入>
            </div>
            <div class="article_inner_right">
              <time class="article_time" datetime="投稿日時">投稿日時</time>
            </div>
            <h2 class="article_title">記事タイトル</h2>
          </div>
        </a>
      </div>

    </body>
  </html>
