$mainColor: red;

.top_bar_left {
  height: 40px;
  width: 70%;
  float: left;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  box-sizing: border-box;
  a {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    color: black;
    text-decoration: none;
  }
  img {
    height: 38px;
  }

}

.top_bar_right {
  height: 40px;
  width: 30%;
  float: right;
  .right_left, .right_right {
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    height: 40px;
    width: 50%;
    a {
      color: inherit;
      font-size: 25px;
      display: block;
      height: 100%;
      text-align: center;
      line-height: 40px;
      &:visited {
        color: inherit;
      }
      &:hover {
        background-color: #eeeeee;
      }
      &:active {
        background-color: #eeeeee;
        font-size: 30px;
      }
    }
  }
  .right_left {
    float: left;
    border-right: 1px solid #000;
  }
  .right_right {
    float: right;
  }
}

.copy_right {
  text-align: center;
}

.top_photo {
  height: 188px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article {
  height: 130px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  .article_left {
    height: 100px;
    width: 30%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .article_right {
    height: 100px;
    width: 70%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    .article_time {
      height: 25px;
      width: 100%;
      font-size: 10px;
      line-height: 20px;
      color: #aaa;
    }
    .article_title {
      height: 90px;
      margin: 0;
      font-size: 15px;
      line-height: 62.5px;
      color: #333;
    }
  }
}


