
.profile {
  padding: 0px 30px;
  box-sizing: border-box;

  .user_name {
    color: #333;
  }

  .profile_text {
    color: black;
  }

  .profile_right {

  }

}

.article {
  height: 300px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  .article_left {
    height: 300px;
    width: 30%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .article_right {
    height: 300px;
    width: 70%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    .article_time {
      height: 50px;
      width: 100%;
      font-size: 20px;
      line-height: 50px;
      color: #aaa;
    }
    .article_title {
      height: 250px;
      margin: 0;
      font-size: 30px;
      line-height: 62.5px;
      color: #333;
    }
  }
}





