
<div class"title">
  <h1>製品名</h1>
</div>

<div class="item_photo" style="background-image: url(<%= asset_path('#') %>)" alt='item_photo'>
</div>

<div class="item_detail">
  <h2>製品情報。メーカー名、ジャンル名、発売日時などの情報を記載します。</h2>
</div>

<div class="form">
　新規投稿フォーム
</div>


