<!DOCTYPE html>
<html>
<head>
  <title>Audiofan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="left_content">
      <li>AudioFan</li>
    </div>
    <div class="right_content">
      <div class="right_left">
        <li>log_in</li>
      </div>
      <div class="right_right">
        <li>MENU</li>
      </div>
    </div>
  </header>
  <footer>
    <cmall class="copy_right">© 2016- AudioFan</cmall>
  </footer>
<%= yield %>

</body>
</html>
